* {
  text-align: center;
  font-family: myBodyFont;
}

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

@font-face {
  font-family: myBodyFont;
  src: url('./Components/bahnschrift.ttf');
}

@font-face {
  font-family: myTitleFont;
  src: url('./Components/avantGardeBold.otf');
}

.section-title {
  font-family: myTitleFont;
  text-transform: uppercase;
  font-size: 3rem;
  text-decoration: underline;
}


#card-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

#parallax-image {
  margin: 10;
  height: 70vh;
  width: 100vw;
  position: relative;
}

#nav-container {
  width: 65%;
}
/* Hero CSS */

#hero-container {
  min-height: 70vh;
  width: 100vw;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('./Components/Images/utilitybelthero.PNG');
}

#hero-title {
  font-family: myTitleFont;
  text-transform: uppercase;
  font-size: 5rem;
  padding-bottom: 2px;
  margin: 0px;
  text-decoration: underline;
}

.white-titles {
  color: white;
}


/* About CSS */

#about-container {
  min-height: 70vh;
  width: 100vw;
  background-color: #303030; /* Old Color: #1D1D1E */
  justify-content: center;
  align-items: center;
  padding: 3.2rem 0;
}

#about-inner-container {
  width: 55%;
  margin: 10px auto;
}

#about-text {
  width: 100%;
  height: 100%;
}

/* Team CSS */

#team-container {
  background-color: white;
  min-height: 70vh; 
  width: 100vw;
  padding: 3rem 0px;  
  color: black;
}

#team-inner-container {
  width: 80%;
  margin: 0px auto;
}

.team-title {
  font-family: myBodyFont;
}

/* Gallery CSS */

#gallery-container {
  width: 100vw;
  height: 40vh;
  overflow: hidden;
}

#gallery-carousel {
  width: 100%;
  height: 100%;
}

.galleryImg{
  object-fit: cover;
  width: 100vw;
  height: 70vh;
  overflow: hidden;
}

/* Slideshow Gallery CSS */
.carousel-control-prev-icon,
.carousel-control-next-icon { visibility: hidden; }
.carousel-indicators button {
  width: 10px!important;
  height: 10px!important;
  border-radius: 50%;
}

/* utility CSS */

#utility-container {
  height: 35vh;
  width: 100vw;
  background-color: #303030 ; /* Old Color: #1D1D1E */
  padding: 3rem 0px;
}

#faqs-inner-container {
  width: 70%;
  margin: auto auto;
}

.accordion {
  background: #1D1D1E;
}

.accordion-header{
  background: #1D1D1E;
}
.accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

/* Mint Modal CSS */
#modalHeader {
  background-image: url('./Components/Images/sample7.JPG');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

#modalBody {
  background-color: #1D1D1E;
  color: white;
}

/* Custom Media Queries */

@media only screen and (max-width: 768px) {
  #about-inner-container {
    width: auto;
  }
  #hero-title {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 418px) {
  #nav-container{
    width: 100%;
  }
}